{% extends 'base.html.twig' %}

{% block title %}Výpis všech záznamů{% endblock %}
{% block body %}
    <table>
        <thead><tr><th>Jméno</th><th>Příjmení</th><th>Telefonní číslo</th><th colspan="2">Administrace</th></tr></thead>
        <tbody>{% for person in persons %}
        <tr>
            <h2><a href="{{ path('person_list', {'url': person.id}) }}"></a></h2>
            <td>{{ person.name }}</td><td>{{person.surname }}</td><td> {{person.phone_number }}<td><a href="{{ path('person_editor', {'url': person.id}) }}">Editovat</a></td><td><a href="{{ path('remove_person', {'url': person.id}) }}">Odstranit</a></td>
            <br/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}